.template {
    width: 100%;
    height: 100%;
}

p {
    text-align: center;
    padding-top: 90px;
}

.container1 {
    width: 100%;
    height: 150px;
    background-color: aquamarine;
}

.container2 {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background-color: #FF4FC7;
}

.container3 {
    width: 20%;
    height: 200px;
    margin-top: 10px;
    background-color: yellow;
}

.container4 {
    width: 75%;
    height: 600px;
    float: right;
    margin-top: 15px;
    background-color: blue;
}

.container5 {
    width: 20%;
    height: 385px;
    margin-top: 15px;
    background-color: red;
}

.container6 {
    width: 100%;
    height: 75px;
    margin-top: 10px;
    background-color: black;
}